@font-face {
  font-family: 'Indie Flower';
  src: url('https://fonts.googleapis.com/css?family=Indie+Flower');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', sans-serif;
}
.none {
	opacity:0;
}
.header{
	height:80px;
	display: flex;
	width: 100%;
	justify-content:space-around;
	align-items: center;
	border-bottom: 1px solid grey;
}
a, a:link, a:visited, a:active, a:hover {
 text-decoration: none;
 color: black;
 text-align: center;
 width: 100%;
}
.headerMenu{
	display: flex;
}

.mainPresentation{
	background-image: url('images/backgroundPresentation.jpeg');
	background-position: 0px 0px;
	background-size: cover;
}

.imageProfil {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin-top: 50px;
	margin-bottom: 20px;
	background-image: url('images/myprofil.png');
	background-size: cover;
}


.contacts{
	background-image:url(https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png);
	background-position: 0px 0px;
	background-size: cover;
}


.main{
	min-height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	box-shadow: 0 0 3px 3px #888,
}


.mainAbout{ 
	color: grey;
	justify-content: flex-start;
}

.main-column{
	flex: 1;
	flex-direction: column;
	justify-content: space-around;
	height: 40vh;
}

.mainCertification{
	color: black;
}

.label{
	margin-top: 20px;
	width: 80%;
}

.marginAuto{
	margin:40px;
}


.fade-appear {
  opacity:0.01;
}
.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.slide{
	animation:slide 1s ease-in forwards;
}

.slide-down{
	animation:slide-down 1s ease-in forwards;
}

.slide-up{
	animation:slide-up 1s ease-in forwards;
}

.slide-down-skill{
	animation: slide-down-skill 0.4s ease-in forwards;
}

.slide-up-presentation{
	animation: slide-up-presentation 0.6s ease-in forwards;
}

.slide-up-skill {
	animation: slide-up-skill 0.6s ease-in forwards;
}


.displayNone{
	display: none;
}

/*skills*/
.skill p{
	font-size: 18px;
}

.boum-boum{
	animation: boum-boum 1s ease-in forwards;
}

/*circle skills*/

#app {
  margin-top: 40px;
}

#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke-linejoin: round;
}

.circle-text {
  font-size: 2em;
  font-weight: bold;
  fill: red;
}

.circular-row {
	display: flex;
	margin-top: 40px;
	justify-content: space-around;
	align-items: center;
}


.progressBar{
	border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-right: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

@keyframes slide-up{
	from{
		opacity: 0;
		transform:translateY(100px);
	}
	to{
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes slide-down{
	from{
		opacity: 0;
		transform:translateY(-100px);
	}
	to{
		opacity: 1;
		transform: translateY(0%);
	}
}


@keyframes slide-down-skill{
	from{
		opacity: 0;
		transform:translateY(-25px);
	}
	to{
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes slide-up-skill{
	from{
		opacity: 0;
		transform:translateY(25px);
	}
	to{
		opacity: 1;
		transform: translateY(0%);
	}
}


@keyframes slide-up-presentation{
	from{
		opacity: 0;
		transform:translateY(20px);
	}
	to{
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes boum-boum{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	};
}
